
.navbar {
    margin-bottom: 30px;
    border-bottom: black;

}
.logo {
    height: 220px;
    width: 120px;
    background: transparent;
}
.logo:hover {
    background: white;
}
a.navbar-item.is-hovered:hover {
    color: tomato;
}
.notification.has-background-white { 
    background-color: hsl(0, 0%, 100%);
    
}
.bookmark {
    margin-top: -10PX;
}
.container2 {
    text-align: center;
    padding: 90px;
    font-size: 30px;
}
/* Float three columns side by side */
.col-md-4 {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-left: 6%;

}
/* remove extra left and right margins due to padding in colums */
.row.row2.row3 {
    margin: 0 50px;
    padding-left: 30px;
    padding-right: 30px;
}
/* Clear floats after the colums */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.media { 
    margin-bottom: -15px;
}
.title.is-7 {
    padding: 10px;
    margin-left: -10px;
}
.content {
    margin-left: -20px;
    width: 290px;
    font-size: 12px;
    margin-top: -20px;
}
a.has-text-tomato {
    color: tomato;
    font-weight: bold;
}
.logo:hover {
    background: white;
}

.toggle {
    margin-right: 100px;
    margin-top: -8px;
}
.field.has-addons {
    margin-top: 20px;
    margin-bottom: 20px;
}
.control { 
    width: 200px;
    height: 5px;
    padding: -20px;
    margin-left: 100px;
    position: fixed;
    float: left;
}
.button.is-info.has-background {
    background: tomato;
    width: 60px;
    
}
button.is-info.has-background:hover {
    background: tomato;
}
.buttons.has-background-black {
   
}
footer {
    background: blueviolet;
}